{% extends "base_initial.html" %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block javascript %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#form2').hide();
		$('#form3').hide();
		$('#success1').hide();
		$('#success2').hide();
		$('#success3').hide();

		$('#qtde_autor').change(function(){
			var opcao = $(this).val()
			switch(opcao){
				case '1':
					$('#form1').show();
					$('#form2').hide();
					$('#form3').hide();
					break;
				case '2':
					$('#form1').show();
					$('#form2').show();
					$('#form3').hide();
					break;
				case '3':
					$('#form1').show();
					$('#form2').show();
					$('#form3').show();
					break;
			}
		});

		$('#form1').on('submit', function(event){
			event.preventDefault();

			$.ajax({
				url: '{% url "register" %}',
				type: 'POST',
				data: {email: $('#id_email').val(),
						name: $('#id_name').val(), 
						tipo: $('#id_tipo').val(),
						idade: $('#id_idade').val(),
						curso: $('#id_curso').val(),
						serie: $('#id_serie').val(),
						instituicao: $('#id_instituicao').val(),
						csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
						action: 'post'
				},
				success : function(json) {
					$("#form1").hide();
					$("#success1").show();
					
	        	},
	        	error : function(xhr,errmsg,err) {
	            	console.log(xhr.status + ": " + xhr.responseText);           
	        	}
			});
		});

		$('#form2').on('submit', function(event){
			event.preventDefault();

			$.ajax({
				url: '{% url "register" %}',
				type: 'POST',
				data: {email: $('#id_email').val(),
						name: $('#id_name').val(), 
						tipo: $('#id_tipo').val(),
						idade: $('#id_idade').val(),
						curso: $('#id_curso').val(),
						serie: $('#id_serie').val(),
						instituicao: $('#id_instituicao').val(),
						csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
						action: 'post'
				},
				success : function(json) {

					$("#form2").hide();
					$("#success2").show();
					
	        	},
	        	error : function(xhr,errmsg,err) {
	            	console.log(xhr.status + ": " + xhr.responseText);           
	        	}
			});
		});

		$('#form3').on('submit', function(event){
			event.preventDefault();
		
			$.ajax({
				url: '{% url "register" %}',
				type: 'POST',
				data: {email: $('#id_email').val(),
						name: $('#id_name').val(), 
						tipo: $('#id_tipo').val(),
						idade: $('#id_idade').val(),
						curso: $('#id_curso').val(),
						serie: $('#id_serie').val(),
						instituicao: $('#id_instituicao').val(),
						csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
						action: 'post'
				},
				success : function(json) {
					$("#form3").hide();
					$("#success3").show();
	        	},
	        	error : function(xhr,errmsg,err) {
	            	console.log(xhr.status + ": " + xhr.responseText);           
	        	}
			});
		});
	});

</script>
{% endblock%}

{% block content %}
<h1>ETAPA 1/3</h1>
<div>
	<form>
		<fieldset>
			<label>Quantidade de autores:</label>
			<select id="qtde_autor">
				<option value='1'>1</option>
				<option value='2'>2</option>
				<option value='3'>3</option>
			</select>
		</fieldset>
	</form>
</div>
<div id="form1">
	<form method="post">
		{% csrf_token %}
		<fieldset>
			{% for field in form %}
			<div>
				{{ field.label_tag }}
	            {{ field }}
	            {{ field.errors }}
			</div>
			{% endfor %}
			<div class="pure-controls">
			    <button type="submit">Cadastrar</button>
			</div>
		</fieldset>
	</form>
</div>
<div id='success1'>
	<p>CADASTRADO COM SUCESSO!</p>
</div>
<div id="form2">
	<form method="post">
		{% csrf_token %}
		<fieldset>
			{% for field in form %}
			
			<div>
				{{ field.label_tag }}
	            {{ field }}
	            {{ field.errors }}
			</div>

			{% endfor %}
			<div class="pure-controls">
			    <button type="submit">Cadastrar</button>
			</div>
		</fieldset>
	</form>
</div>
<div id='success2'>
	<p>CADASTRADO COM SUCESSO!</p>
</div>
<div id="form3">
	<form method="post">
		{% csrf_token %}
		<fieldset>
			{% for field in form %}
			<div>
				{{ field.label_tag }}
	            {{ field }}
	            {{ field.errors }}
			</div>
			{% endfor %}
			<div class="pure-controls">
			    <button type="submit">Cadastrar</button>
			</div>
		</fieldset>
	</form>
</div>
<div id='success3'>
	<p>CADASTRADO COM SUCESSO!</p>
</div>
<a href='{% url "submit_project" %}' style="color: black;">Próximo</a>
{% endblock %}
