{% extends "dashboard.html" %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#form2').hide();
		$('#form3').hide();	

		$('#success1').hide();
		$('#success2').hide();
		$('#success3').hide();

		$('#qtde_autor').change(function(){
			var opcao = $(this).val();
			switch(opcao){
				case '1':
					$('#form1').show();
					$('#form2').hide();
					$('#form3').hide();
					break;
				case '2':
					$('#form1').show();
					$('#form2').show();
					$('#form3').hide();
					break;
				case '3':
					$('#form1').show();
					$('#form2').show();
					$('#form3').show();
					break;
			}
		});

		var arrayIds = [];

		/*$("#proximo").click(function(event){
			event.preventDefault();
			url = '?';
		    i = 0;
		    arrayIds.forEach(function(id){
		        url = 'id'+i+'='+id+'&';
		        i++;
		    });
		    window.location.href= '{% url "register_orientador" %}'+url;
		});*/
		
		$('#form1').on('submit', function(event){
			event.preventDefault();

			$.ajax({
				url: '{% url "register_autor" %}',
				type: 'POST',
				data: $("#form1").serializeArray(),
				success : function(json) {
					$("#form1").hide();
					$("#success1").show();
					//json['id'] = {{ ultimo_id }};
					//arrayIds.push(json['id']);
	        	},
	        	error : function(xhr,errmsg,err) {
	            	console.log(xhr.status + ": " + xhr.responseText);           
	        	}
			});
		});

		$('#form2').on('submit', function(event){
			event.preventDefault();

			$.ajax({
				url: '{% url "register_autor" %}',
				type: 'POST',
				data: $("#form2").serializeArray(),
				success : function(json) {
					$("#form2").hide();
					$("#success2").show();
					//json['id'] = {{ ultimo_id }};
					//arrayIds.push(json['id']);
	        	},
	        	error : function(xhr,errmsg,err) {
	            	console.log(xhr.status + ": " + xhr.responseText);           
	        	}
			});
		});


		$('#form3').on('submit', function(event){
			event.preventDefault();
		
			$.ajax({
				url: '{% url "register_autor" %}',
				type: 'POST',
				data: $("#form3").serializeArray(),
				success : function(json) {
					$("#form3").hide();
					$("#success3").show();
					//json['id'] = {{ultimo_id}};
					//arrayIds.push(json['id']);
	        	},
	        	error : function(xhr,errmsg,err) {
	            	console.log(xhr.status + ": " + xhr.responseText);           
	        	}
			});
		});
	});

</script>
{% endblock js %}

{% block title_outer %}
	<title>
		{% block title %} 
			Autores
		{% endblock %}
	</title>
{% endblock %}

{% block body %}
<div>
	{% block nav_header %}
        {% include 'adminlte/lib/_main_header.html' %}
    {% endblock %}

    {% block nav_sidebar %}
        {% include 'adminlte/lib/_main_sidebar.html' %}
    {% endblock %}

    {% block content-wrapper %}
    {% if not existe_projeto %}
    <div class="content-wrapper">
    	{% block content-header %}
    	<section class="content-header">
    		<div class="breadcrumbs">
    			<ul>
    				{% block breadcrumbs %}
			    		{{ block.super }}
			    		<li>/</li>
			    		<li><a href="{% url 'register_autor' %}">Autores</a></li>
			    	{% endblock breadcrumbs %}
    			</ul>
    		</div>
    		
    	</section>
    	{% endblock content-header%}
    	
    	{% block content-outer %}
    	<section>
    		<div class="content" id="qtdeAutor">
				<form>
					<label>Quantidade de autores:</label>
					<select id="qtde_autor">
						<option value='1'>1</option>
						<option value='2'>2</option>
						<option value='3'>3</option>
					</select>					
				</form>
			</div>
			<div class="content">
				<form method="post" id="form1">
					<fieldset>
						<legend>Autor 1</legend>
						{% csrf_token %}
						{% for field in form %}
						<div>
							{{ field.label_tag }}
				            {{ field }}
				            {{ field.errors }}
						</div>
						{% endfor %}
						<div class="pure-controls">
						    <button type="submit">Cadastrar</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div id='success1' class="content">
				<p>CADASTRADO COM SUCESSO!</p>
			</div>
			<div class="content">
				<form method="post" id="form2">
					<fieldset>
						<legend>Autor 2</legend>
						{% csrf_token %}
						{% for field in form %}
						<div>
							{{ field.label_tag }}
				            {{ field }}
				            {{ field.errors }}
						</div>

						{% endfor %}
						<div class="pure-controls">
						    <button type="submit">Cadastrar</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div id='success2' class="content">
				<p>CADASTRADO COM SUCESSO!</p>
			</div>
			<div class="content">
				<form method="post" id="form3">
					<fieldset>
						<legend>Autor 3</legend>
						{% csrf_token %}
						{% for field in form %}
						<div>
							{{ field.label_tag }}
				            {{ field }}
				            {{ field.errors }}
						</div>
						{% endfor %}
						<div class="pure-controls">
						    <button type="submit">Cadastrar</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div id='success3' class="content">
				<p>CADASTRADO COM SUCESSO!</p>
			</div>
			<div class="content">
				<a href='' style="color: black;" id='proximo'>Próximo</a>
			</div>
		</section>
		{% endblock content-outer %}
	</div>
	{% else %}
	<section>
		<div class="content">
			<h3>Você já possui uma submissão!</h3>
			<a href="{% url 'sistema_projeto_list' %}" class="btn btn-info">Minhas Submissões</a>
		</div>
	</section>
	{% endif %}
	{% endblock content-wrapper %}

</div>
{% endblock body %}
