{% extends "dashboard.html" %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#form5').hide();	

		$('#success4').hide();
		$('#success5').hide();

		$('#qtde_orientador').change(function(){
			var opcao = $(this).val();
			switch(opcao){
				case '1':
					$('#form4').show();
					$('#form5').hide();
					break;

				case '2':
					$('#form4').show();
					$('#form5').show();
					break;
			}
		});

		$('#form4').on('submit', function(event){
			event.preventDefault();

			$.ajax({
				url: '{% url "register_orientador" %}',
				type: 'POST',
				data: $("#form4").serializeArray(),
				success : function(json) {
					$("#form4").hide();
					$("#success4").show();
	        	},
	        	error : function(xhr,errmsg,err) {
	            	console.log(xhr.status + ": " + xhr.responseText);           
	        	}
			});
		});

		$('#form5').on('submit', function(event){
			event.preventDefault();

			$.ajax({
				url: '{% url "register_orientador" %}',
				type: 'POST',
				data: $("#form5").serializeArray(),
				success : function(json) {
					$("#form5").hide();
					$("#success5").show();
	        	},
	        	error : function(xhr,errmsg,err) {
	            	console.log(xhr.status + ": " + xhr.responseText);           
	        	}
			});
		});

	});
</script>
{% endblock js %}

{% block title_outer %}
	<title>
		{% block title %} 
			Orientadores
		{% endblock %}
	</title>
{% endblock %}

<div>
	{% block nav_header %}
        {% include 'adminlte/lib/_main_header.html' %}
    {% endblock %}

    {% block nav_sidebar %}
        {% include 'adminlte/lib/_main_sidebar.html' %}
    {% endblock %}

    {% block content-wrapper %}
    <div class="content-wrapper">
    	{% block content-header %}
    	<section class="content-header">
    		<div class="breadcrumbs">
    			<ul>
    				{% block breadcrumbs %}
			    		{{ block.super }}
			    		<li>/</li>
			    		<li><a href="{% url 'register_autor' %}">Autores</a></li>
			    		<li>/</li>
			    		<li><a href="{% url 'register_orientador' %}">Orientadores</a></li>
			    	{% endblock breadcrumbs %}
    			</ul>
    		</div>
    		
    	</section>
    	{% endblock content-header%}

    	{% block content-outer %}
    	<section>
    		<div class="content" id="qtdeOrientador">
				<form>
					<label>Quantidade de orientadores:</label>
					<select id="qtde_orientador">
						<option value='1'>1</option>
						<option value='2'>2</option>
					</select>				
				</form>
			</div>
			<div class="content">
				<form method="post" id="form4">
					<fieldset>
						<legend>Orientador</legend>
						{% csrf_token %}
						{% for field in form %}
						<div>
							{{ field.label_tag }}
				            {{ field }}
				            {{ field.errors }}
						</div>
						{% endfor %}
						<div class="pure-controls">
						    <button type="submit">Cadastrar</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div id='success4' class="content">
				<p>CADASTRADO COM SUCESSO!</p>
			</div>
			<div class="content">
				<form method="post" id="form5">
					<fieldset>
						<legend>Coorientador</legend>
						{% csrf_token %}
						{% for field in form %}
						<div>
							{{ field.label_tag }}
				            {{ field }}
				            {{ field.errors }}
						</div>
						{% endfor %}
						<div class="pure-controls">
						    <button type="submit">Cadastrar</button>
						</div>
					</fieldset>
				</form>
			</div>
			<div id='success5' class="content">
				<p>CADASTRADO COM SUCESSO!</p>
			</div>
			<div class="content">
				<a href='{% url "register_autor" %}' style="color: black">Anterior</a>
				<a href='{% url "submit_project" %}' style="color: black;">Próximo</a>
			</div>
    	</section>
    	{% endblock content-outer %}
    </div>
   	{% endblock content-wrapper %}
</div>



