{% extends "dashboard.html" %}
{% load crispy_forms_tags %}
{% crispy form %}

{% block title_outer %}
	<title>
		{% block title %} 
			Projeto
		{% endblock %}
	</title>
{% endblock %}

{% block body %}

	{% block nav_header %}
        {% include 'adminlte/lib/_main_header.html' %}
    {% endblock %}

    {% block nav_sidebar %}
        {% include 'adminlte/lib/_main_sidebar.html' %}
    {% endblock %}

    {% block content-wrapper %}
	    {% if not existe_projeto %}
		    <div class="content-wrapper">
		    	{% block content-header %}
		    	<section class="content-header">
		    		<div class="breadcrumbs">
		    			<ul>
		    				{% block breadcrumbs %}
					    		{{ block.super }}
					    		<li>/</li>
					    		<li><a href="{% url 'register_autor' %}">Autores</a></li>
					    		<li>/</li>
					    		<li><a href="{% url 'register_orientador' %}">Orientadores</a></li>
					    		<li>/</li>
					    		<li><a href="{% url 'submit_project' %}">Projeto</a></li>
					    	{% endblock breadcrumbs %}
		    			</ul>
		    		</div>
		    	</section>
	    		{% endblock content-header%}
    			{% block content-outer %}
		    	<section>
		    		<div class="content">
						<form method="post">
							{% csrf_token %}
							<fieldset>
								{% for field in form %}
								<div>
									{{ field.label_tag }}
						            {{ field }}
						            {{ field.errors }}
								</div>
								<br>
								{% endfor %}
								<div class="pure-controls">
						            <button type="submit">Cadastrar</button>
						        </div>
						</fieldset>
						</form>
					</div>
				</section>
				{%endblock content-outer%}
			</div>
		{% else %}
		<div class="content-wrapper">
	    	<section class="content-header">
				<h3>Você já possui uma submissão!</h3>
				<a href="{% url 'sistema_projeto_list' %}" class="btn btn-info">Minhas Submissões</a>
			</section>
		</div>
		{% endif%}
	{% endblock %}
{% endblock %}