{% extends "cruds/create.html" %}
{% load crud_tags %}

{% block title %}Cadastro {{ model_verbose_name }}{% endblock %}
{% block body_class %}{{ blocks.body_class|default:model_verbose_name_plural|lower }}{% endblock body_class %}
{% block page_name %}{{ blocks.page_name|default:model_verbose_name_plural }}{% endblock %}
{% block page_description %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% if request.user.is_authenticated and request.user.is_staff %}
        {% if crud_perms.list %}
        <a href="{{ url_list }}{{getparams}}" class="btn btn-info">
            <i class="fa fa-angle-double-left"></i>
            Voltar para {{ model_verbose_name_plural|lower }}
        </a>
        {% endif %}
        {% endif %}
        <br /><br />
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Novo {{ model_verbose_name }}</h3>
            </div>
            {% include "cruds/_form.html" with action='create' %}
        </div>
    </div>
</div>
{% endblock %}


