{% extends template_father %}
{% load i18n %}
{% load crud_tags %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% if url_list and 'list' in views_available and crud_perms.list %}
            <a href="{{ url_list }}{{getparams}}">
                <i class="fa fa-angle-double-left"></i>
                {% trans "Voltar para" %} {{ model_verbose_name_plural|lower }}
            </a>
        {% endif %}
        <br /><br />
        <div class="box">
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            {% for field, field_name in fields.items %}
                            {% if field != 'id' and field != 'user'%}
                              <tr>
                                <th>
                                  {{ field_name.0 }}
                                </th>
                                <td>
                                  {{ object|format_value:field }}
                                </td>
                              </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
