<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FEIRA DE CIÊNCIA E TECNOLOGIA - BRAGANTEC">
	<title>BRAGANTEC</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
	<div class="container">
		<div class="header">
			<img src="{% static 'img/banner.jpg' %}" alt="IX BRAGANTEC - Feira de Ciência e Tecnologia do IFSP" />
			<div class="menu">
				<ul>
		        	<li><a href="{% url 'index' %}">INÍCIO</a></li>
		        	<li><a href="#">SOBRE</a></li>
		        	<li><a href="{% url 'sistema_autor_create' %}">CADASTRO</a></li>
		        	<li><a href="{% url 'login' %}">ENTRAR</a></li>
	    		</ul>
			</div>
		</div>
	    {% block content %}{% endblock %}
	</div>
	<footer>
		<p>Apoio: </p>
		<a href="http://www.cnpq.br/"><img src="{% static 'img/cnpq.jpg' %}"></a>
	</footer>
</body>
</html>